.container {
  margin: 0 auto;
  width: 100%;
}

.toolbar {
  padding: 70px 0;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.main {
  padding: 50px 0;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 566px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    display: block;
    text-align: center;
  }

  .toolbar {
    padding: 100px 0;
  }

  .nav {
    justify-content: space-around;
  }

  .app-title {
    padding-left: 15px;
  }

}