<header>
  <mat-toolbar class="toolbar">
    <div class="container content-container mat-typography">
      <a mat-list-item [routerLink]="'/books'" class="app-title">
        <h1>Book App</h1>
      </a>
      <mat-form-field>
        <input matInput type="text" placeholder="Search..." (keyup)="onUpdateQuery($event.target.value)">
      </mat-form-field>
      <mat-nav-list class="nav">
        <a mat-list-item [routerLink]="'/authors'">Authors</a>
        <a mat-list-item [routerLink]="'/books'">Books</a>
        <a mat-list-item [routerLink]="'/genre'">Genre</a>
      </mat-nav-list>
    </div>
  </mat-toolbar>
</header>
<main class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>