<header class="header">
  <mat-toolbar class="toolbar">
    <div class="container content-container mat-typography">
      <a mat-list-item [routerLink]="'/books'" class="app-title">
        <h1>Book App</h1>
      </a>
      <form class="search-form">
        
        <mat-form-field>
          <input 
            matInput 
            type="text" 
            placeholder="Search..."
            [matAutocomplete]="auto"
            [formControl]="formControl"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-optgroup [label]="'Books'" *ngIf="(booksOptions | async)?.length">
              <mat-option *ngFor="let book of booksOptions | async">
                <a [routerLink]="'/books/' + book.id">{{ book.title }}</a>
              </mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="'Authors'" *ngIf="(authorsOptions | async)?.length">
              <mat-option *ngFor="let author of authorsOptions | async">
                <a [routerLink]="'/authors/' + author.id">{{ author.name }}</a>
              </mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="'Genre'" *ngIf="(genresOptions | async)?.length">
              <mat-option *ngFor="let genre of genresOptions | async">
                <a [routerLink]="'/genre/' + genre.id">{{ genre.name }}</a>
              </mat-option>
            </mat-optgroup>
            
          </mat-autocomplete>
          <mat-hint>For example: The Guardian; Oscar Wilde; Novel;</mat-hint>

          

        </mat-form-field>
      </form>


      <mat-nav-list class="nav">
        <a mat-list-item [routerLink]="'/authors'">Authors</a>
        <a mat-list-item [routerLink]="'/books'">Books</a>
        <a mat-list-item [routerLink]="'/genre'">Genre</a>
      </mat-nav-list>
    </div>
  </mat-toolbar>
</header>
<main class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>