<section *ngIf="!isLoading" class="mat-typography">
  <h1>showing books for the selected genre:</h1>

  <mat-table [dataSource]="books" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Book title </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <a [routerLink]="['/books', book.id]" class="book-title">
          {{ book.title }}
        </a> 
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
      <mat-cell *matCellDef="let genreBook">
        <a 
          class="book-author"
          [routerLink]="['/authors', genreBook.author_id]"
        >
          {{ genreBook.authors[0] }}
        </a>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-divider></mat-divider>
  <h2>Genre: </h2>
  <mat-chip-list aria-label="Genre selection">
    <mat-chip>
      {{ genre || 'No genre selected' }}
    </mat-chip>
  </mat-chip-list>
</section>