<section class="mat-typography">
  <h2>Books for the selected genre:</h2>
  <mat-chip-list aria-label="Genre selection">
    <mat-chip>
      {{ genre || 'No genre selected' }}
    </mat-chip>
  </mat-chip-list>
  <mat-divider></mat-divider>

  <div *ngIf="!isLoading">
    <mat-table *ngIf="genre; else genresGroup" [dataSource]="booksByFilter" class="mat-elevation-z8">
      <!-- <mat-table [dataSource]="books" class="mat-elevation-z8"> -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Book title </mat-header-cell>
        <mat-cell *matCellDef="let book">
          <a [routerLink]="['/books', book.id]" class="book-title">
            {{ book.title }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let genreBook">
          <a class="book-author" [routerLink]="['/authors', genreBook.author_id]">
            {{ genreBook.authors[0] }}
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</section>

<ng-template #genresGroup>
  <h3>Select:</h3>
  <div class="genres-group">
    <button mat-raised-button *ngFor="let genre of genresList" (click)="onSelectGenre(genre)"
      class="genres-group__button">
      {{ genre }}
    </button>
  </div>
</ng-template>