<section class="mat-typography">
  <h2>Books for the selected genre:</h2>
  <mat-chip-list aria-label="Genre selection">
    <mat-chip>
      {{ genre || 'Select genre below' }}
    </mat-chip>
  </mat-chip-list>
  <mat-divider></mat-divider>

  <div>
    <mat-table 
      *ngIf="genre; else genresGroup" 
      [dataSource]="books" 
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Book title </mat-header-cell>
        <mat-cell *matCellDef="let book">
          <a [routerLink]="['/books', book.id]" class="book-title">
            {{ book.title }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let genreBook">
          <a class="book-author" [routerLink]="['/authors', genreBook.author_id]">
            {{ genreBook.authors[0] }}
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
  <ng-template #genresGroup>
    <div class="genres-group">
      <a
        mat-raised-button 
        *ngFor="let genre of genresList" 
        class="genres-group__button"
        [routerLink]="['/genre/' + genre.id]"
      >
        {{ genre.name }}
      </a>
    </div>
  </ng-template>

  <div class="genres-offer">
    <mat-divider></mat-divider>
    <div *ngIf="genre as currentGenre">
      <h3>Select another genre:</h3>
      <div class="genres-group">
        <ng-container *ngFor="let genre of genresList">
          <a 
            mat-raised-button 
            *ngIf="currentGenre !== genre.id" 
            [routerLink]="['/genre/' + genre.id]"
            class="genres-group__button"
          >
            {{ genre.name }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>

</section>