.mat-table {
  margin-bottom: 2.5rem;
}

.mat-divider {
  margin: 2rem 0;
}

.book-title,
.book-author {
  color: #00796b;
  text-decoration: none;

  &:hover {
    color: #00bcd4;
  }
}

.mat-chip-list-wrapper {
  padding-bottom: 2rem;
}

.genres-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__button {
    margin: 1rem;
  }
}