.table {
  width: 100%;
}

.mat-list-item-content {
  justify-content: space-between;
}

.mat-grid-tile {
  background-color: lightcoral;
}

.mat-progress-spinner {
  margin-left: 50%;
}

.book-title,
.book-author {
  color: #00796b;
  text-decoration: none;

  &:hover {
    color: #00bcd4;
  }
}

.mat-column-author {
  padding-left: 10px;
}