.author-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
  color: #5c6bc0;
  
  &__text {
    padding-left: 1rem;
  }
}

.mat-progress-spinner {
  margin-left: 50%;
}