.author-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
  color: #5c6bc0;
  
  &__text {
    padding-left: 1rem;

    &:hover {
      color: #dd2c00;
    }
  }

  &__book-text {
    font-size: .9rem;
    padding-left: 0.5rem;

    &:hover {
      color: #29b6f6;
    }
  }

  &__book-link {
    text-decoration: none;
    
  }
}


.mat-progress-spinner {
  margin-left: 50%;
}